<ion-header>

  <ion-navbar>
    <ion-title>What did you workout?</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let category of categories; let i=index">
      <ion-label>{{category.name}}</ion-label>
      <ion-input *ngIf="type =='game'" [(ngModel)]="gameVars[ + i]"></ion-input>
      <ion-checkbox *ngIf="type !='game'" [(ngModel)]="category.checked" color="dark"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
    </ion-item>

    <button ion-button block (click)="saveData()">Save</button>
  </ion-list>
</ion-content>